{% extends 'base.html' %}




{% block content %}


    <form class="form-signin login-form" method="post">
      {% if form.errors %}
          <p class="alert alert-danger" >Ваш пароль или логин не совпадает</p>
      {% endif %}
      {% csrf_token %}
      <h2 class="form-signin-heading">Вход</h2>

        <div class="form-group">
          <label class="col-sm-10 control-label" for="email" class="sr-only">Email</label>
          <input type="email" name="username" class="form-control" placeholder="Email" required autofocus>
        </div>


        <div class="form-group">
          <label class="col-sm-10 control-label" for="password" class="sr-only">Пароль</label>
          <input type="password" name="password" class="form-control" placeholder="password" required autofocus>
        </div>

      <div class="checkbox">
          <label>
              <input type="checkbox" value="remember-me"> Запомнить меня
          </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>

{% endblock %}

