{% extends 'base.html' %}
{% load static %}

{% block js_script %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>

{% endblock %}

  

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'component.css' %}" />
  <div class="content">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content">

            <div class="box">
                {{ form.document}}
              <label for="file-upload"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span></span></label>
            </div>				
          </div>   
        
        <button type="submit" class="btn btn-primary btn-lg">Загрузить</button>
      </form>     
    
      {% if messages %}
      <script>
        {% for message in messages %}
            swal({
              title: "Документ загружен!",
              text: "{{ message }}",
              icon: "success",
              button: "ОК",
            });
        {% endfor %}
      </script>
    {% endif %}
  </div>
  
<script src="{% static 'custom-file-input.js'%}"></script>
{% endblock %}