{% extends 'base.html' %}

{% block content %}

<form class="form-inline" id = 'doc_search' method="POST" action="{% url 'center:doc_search' %}">
    {% csrf_token %}
    <div class="form-group mx-sm-3 mb-2">
      <label for="doc_code" class="sr-only">Код документа: </label>
      <input type="text" class="form-control" id="doc_code" name = 'doc_code'>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Поиск</button>
</form>

<script>

    // $("#doc_search").submit(function(e) {

    //     var form = $(this);

    //     $.ajax({
    //         type: "POST",
    //         url: "{% url 'center:doc_search' %}",
    //         data: form.serialize(), // serializes the form's elements.
    //         success: function(data){
    //             console.log(data); // show response from the php script.
    //         }
    //     });

    //     e.preventDefault(); // avoid to execute the actual submit of the form.
    // });

</script>

{% endblock%}