{% extends 'base.html' %}

{% block content %}
<style>

    #footer {
        min-height: 40px;
    }

    /* layout */
    #main-wrap {
        /* overflow to handle inner floating block */
        overflow: hidden;
    }

    #sidebar {
        float: left;
        width: 30%;
    }

    #content-wrap {
        float: right;
        width: 70%;
        height: 100%;
    }   

</style>

<div id="main-wrap">
    <div id="sidebar">
        <ul>
                <li>ID: {{data.id}}</li>
                <li>file_name: {{data.file_name}}</li>
                <li>amount: {{data.amount}}</li>
        </ul>

        <ul>
            <a href="{% url 'center:index' %}">Поиск</a>
        </ul>
    </div>
    <div id="content-wrap">
            <object style="width:100%; height: 500px;" data="{{data.document.url}}?#zoom=85&scrollbar=0&toolbar=0&navpanes=0" type="application/pdf">
    </div>
</div>

{% endblock%}